
*{
    margin:0;
    padding:0;
   
}

body{
    background-color: white;

}

body a{
    text-decoration: none;
    color:white;
}


/* Icon Bar Styling Starts */

.icon_bar{

    background-color:rgb(11, 148, 11);
  
    padding:20px;
 
    border-bottom: black;
}

.icon_bar ul{
    display:flex;
    gap:20px;
    list-style: none;
    font-size: 18px;
    color:white;  
    justify-content: right;  
    

}

.icon_bar li:hover{
    cursor: pointer;
    padding:5px;
  
}


/* Icon Bar Styling Starts */


/* Top Bar Styling Starts */


.top_bar{

   background-color:rgb(11, 148, 11);
   
   color:white;
   padding:20px;
   border-bottom: solid black;

}

.top_bar a{
    text-decoration: none;
    color:white;
}
.top_bar ul{
    display:flex;
    list-style: none;
    gap:50px;
  
    font-size: 18px;
    
}

.top_bar .top_container{
    display:flex;
    gap:783px;
}

.top_bar .top_logo{
    justify-content: left;
}

.top_bar .top_bar_list{
    justify-content: right;
}

.top_bar li:hover{
    cursor: pointer;
    background-color:rgb(115, 196, 115);
    color:white;
    padding:5px;
}


/* Top Bar Styling Ends */

/* About Us Styling Starts */

.about_container{
    background-color: black;
    color:white;
}


.about_container h1{
    color:white;
    padding:30px;
    text-align: center;
}

.about_container p{
    color:white;
    padding-left:30px;
   text-align: justify;
   padding-right:30px;
    font-size: 16px;
}

.about_container h3{
    color:green;
    padding:30px;
    font-size: 20px;
}

.about_container h4{
    color:green;
    font-size: 20px;
    padding:30px;
    text-align: center;
}

.about_container li{
    padding:30px;
}
/* About Us Styling Ends*/

/* Footer Section Styling Starts */

.footer{
    background-color: black;
    color:white;
    padding:70px;
    height:100px;
}

.footer .footer_container{
    padding-top:20px;
    display:flex;
    list-style-type:none;
    gap:100px;
    /* text-align: center; */
    justify-content: center;
    border-top: 3px solid green ;
   

}

.footer h3{
    padding:10px;
    color:white;
}

.footer li{

    padding: 3px 0;
}

/* Footer Section Styling Ends */

/* Copyright Section Styling Starts */

.copyright_container{
    background-color: black;
    color:white;
    padding:30px;
}

/* Copyright Section Styling Starts */